name: CI/CD Pipeline
permissions:
  contents: write
  actions: write
  checks: write
  security-events: write
  issues: write
  packages: write

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  UTs:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Run Unit Tests
          run: echo "UT placeholder"

  SCA:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Trivy scan on source code (SCA)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          vuln-type: 'library'
          trivyignores: '.github/config/.trivyignore'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'

  SAST:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Semgrep
        run: pip install semgrep

      - name: Run Semgrep SAST
        run: semgrep --config p/security-audit --error --json .

  build_image:
    runs-on: ubuntu-latest
    needs: [UTs, SCA, SAST]

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t myapp:latest .
